<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - WINTEX</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!--Other Bootstrap that comes with asp.net-->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Custom CSS -->
    <link href="~/css/stylish-portfolio.min.css" rel="stylesheet">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Spectral+SC:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,400;0,700;1,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!--Link for modals-->
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@


</head>

<body class="bg-light" id="page-top">

    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a class="js-scroll-trigger" href="#page-top">Fag el-Gamous</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#page-top">Home</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="sidebar-nav-item">
                <a class="js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="sidebar-nav-item">
                <partial name="_LoginPartial" class="js-scroll-trigger" />
            </li>
        </ul>
        <div class="d-flex justify-content-center">
            <img src="~/img/LogoTransparent.png" class="" style="max-width: 200px; position:absolute; bottom:0; margin-bottom: 40px" />
        </div>
    </nav>

    <div>
        <div class="d-flex justify-content-center px-5 pt-5 pb-4">
            <h1 class="" style="font-family: 'Spectral SC', serif; text-shadow: 2px 2px #75a8b3; font-size: 60px">@ViewData["Title"]</h1>
            <br />
            @*<h3 class="" style="font-family: 'Spectral SC', serif; text-shadow: 2px 2px #75a8b3;">
            <em></em>
        </h3>*@
        </div>
    </div>

    <!--Stripes on the screen-->
    <div class="bg-light sticker mb-5 pb-4" style="">
        <!--I would like this to be sticky... but can't get it-->
        <div class="mb-3 stripedLines" style="background-color:#75a8b3; height:21px; width:90%; position: sticky; top: 0;">
        </div>
        <div class="mb-3 stripedLines" style="background-color:#d67751; height:21px; width:85%">
        </div>
        <div class="stripedLines" style="background-color:#ecc38e; height:21px; width:80%; margin-bottom: 10px">
        </div>
    </div>

    @RenderBody()

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <ul class="list-inline mb-5">
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/search/photos?q=fag%20el-gamous">
                        <i class="icon-social-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white mr-3" href="https://twitter.com/search?q=fag%20el-gamous&src=typed_query">
                        <i class="icon-social-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="social-link rounded-circle text-white" href="https://www.google.com/search?q=fag+el-gamous&rlz=1C5CHFA_enUS759US759&oq=fag+el-gamous&aqs=chrome.0.69i59l3j69i60j69i61l2.9271j0j7&sourceid=chrome&ie=UTF-8">
                        <i class="icon-social-google"></i>
                    </a>
                </li>
            </ul>
            <p class="text-muted small mb-0">Copyright &copy; BYU Excavation 2021</p>
        </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/stylish-portfolio.min.js"></script>

    <!--Scripts for Modals-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Scripts from Original template, Code needed for authorization-->
    <!--Other Bootstrap that comes with asp.net-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
