@{
    ViewData["Title"] = "Storage Locations";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@model WINTEX.Models.FegbstorageLocation



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <form asp-action="Edit">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column ml-5 mr-2 my-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ShelfId" />
                <div class="form-group">
                    <label asp-for="Rack" class="control-label"></label>
                    <input asp-for="Rack" class="form-control" />
                    <span asp-validation-for="Rack" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Shelf" class="control-label"></label>
                    <input asp-for="Shelf" class="form-control" />
                    <span asp-validation-for="Shelf" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-column ml-2 mr-5 my-2">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="SubShelf" class="control-label"></label>
                        <input asp-for="SubShelf" class="form-control" />
                        <span asp-validation-for="SubShelf" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex justify-content-end mr-3" style="width: 50%">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="d-flex justify-content-start ml-3" style="width: 50%">
                <div>
                    <a class="btn btn-admin" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
   
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
