@{
    ViewData["Title"] = "Burials";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@model WINTEX.Models.Mummy


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit - Burial</title>
</head>
<body>
    <form asp-action="Edit">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column ml-5 mr-2 my-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="MummyId" />
                <div class="form-group">
                    <label asp-for="BurialNum" class="control-label"></label>
                    <input asp-for="BurialNum" class="form-control" />
                    <span asp-validation-for="BurialNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShaftId" class="control-label"></label>
                    <select asp-for="ShaftId" class="form-control" asp-items="ViewBag.ShaftId"></select>
                    <span asp-validation-for="ShaftId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TombId" class="control-label"></label>
                    <select asp-for="TombId" class="form-control" asp-items="ViewBag.TombId"></select>
                    <span asp-validation-for="TombId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialDepth" class="control-label"></label>
                    <input asp-for="BurialDepth" class="form-control" />
                    <span asp-validation-for="BurialDepth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WestToHead" class="control-label"></label>
                    <input asp-for="WestToHead" class="form-control" />
                    <span asp-validation-for="WestToHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="WestToFeet" class="control-label"></label>
                    <input asp-for="WestToFeet" class="form-control" />
                    <span asp-validation-for="WestToFeet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SouthToHead" class="control-label"></label>
                    <input asp-for="SouthToHead" class="form-control" />
                    <span asp-validation-for="SouthToHead" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SouthToFeet" class="control-label"></label>
                    <input asp-for="SouthToFeet" class="form-control" />
                    <span asp-validation-for="SouthToFeet" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Length" class="control-label"></label>
                    <input asp-for="Length" class="form-control" />
                    <span asp-validation-for="Length" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialSituation" class="control-label"></label>
                    <input asp-for="BurialSituation" class="form-control" />
                    <span asp-validation-for="BurialSituation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Goods" class="control-label"></label>
                    <input asp-for="Goods" class="form-control" />
                    <span asp-validation-for="Goods" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtifactsDescription" class="control-label"></label>
                    <input asp-for="ArtifactsDescription" class="form-control" />
                    <span asp-validation-for="ArtifactsDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-column ml-2 mr-5 my-2">
                <div class="form-group">
                    <label asp-for="PreservationIndex" class="control-label"></label>
                    <input asp-for="PreservationIndex" class="form-control" />
                    <span asp-validation-for="PreservationIndex" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClusterNum" class="control-label"></label>
                    <input asp-for="ClusterNum" class="form-control" />
                    <span asp-validation-for="ClusterNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HairColorCode" class="control-label"></label>
                    <input asp-for="HairColorCode" class="form-control" />
                    <span asp-validation-for="HairColorCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AgeCodeSingle" class="control-label"></label>
                    <input asp-for="AgeCodeSingle" class="form-control" />
                    <span asp-validation-for="AgeCodeSingle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BurialMaterials" class="control-label"></label>
                    <input asp-for="BurialMaterials" class="form-control" />
                    <span asp-validation-for="BurialMaterials" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExcavationRecorder" class="control-label"></label>
                    <input asp-for="ExcavationRecorder" class="form-control" />
                    <span asp-validation-for="ExcavationRecorder" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateExcavated" class="control-label"></label>
                    <input asp-for="DateExcavated" class="form-control" />
                    <span asp-validation-for="DateExcavated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearExcavated" class="control-label"></label>
                    <input asp-for="YearExcavated" class="form-control" />
                    <span asp-validation-for="YearExcavated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MonthExcavated" class="control-label"></label>
                    <input asp-for="MonthExcavated" class="form-control" />
                    <span asp-validation-for="MonthExcavated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DayExcavated" class="control-label"></label>
                    <input asp-for="DayExcavated" class="form-control" />
                    <span asp-validation-for="DayExcavated" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HeadDirection" class="control-label"></label>
                    <input asp-for="HeadDirection" class="form-control" />
                    <span asp-validation-for="HeadDirection" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ArtifactFound" class="control-label"></label>
                    <input asp-for="ArtifactFound" class="form-control" />
                    <span asp-validation-for="ArtifactFound" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex justify-content-end mr-3" style="width: 50%">
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
            <div class="d-flex justify-content-start ml-3" style="width: 50%">
                <div>
                    <a class="btn btn-admin" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
    
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
