
@{
    ViewData["Title"] = "Carbon Dating";
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@model WINTEX.Models.CarbonDating



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form asp-action="Create">
        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column ml-5 mr-2 my-2">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Racknum" class="control-label"></label>
                    <input asp-for="Racknum" class="form-control" />
                    <span asp-validation-for="Racknum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ShaftLocationId" class="control-label"></label>
                    <select asp-for="ShaftLocationId" class="form-control" asp-items="ViewBag.ShaftLocationId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="BurialNum" class="control-label"></label>
                    <input asp-for="BurialNum" class="form-control" />
                    <span asp-validation-for="BurialNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MummyId" class="control-label"></label>
                    <select asp-for="MummyId" class="form-control" asp-items="ViewBag.MummyId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="AreaHillBurialNum" class="control-label"></label>
                    <input asp-for="AreaHillBurialNum" class="form-control" />
                    <span asp-validation-for="AreaHillBurialNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TubeNum" class="control-label"></label>
                    <input asp-for="TubeNum" class="form-control" />
                    <span asp-validation-for="TubeNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SizeMm" class="control-label"></label>
                    <input asp-for="SizeMm" class="form-control" />
                    <span asp-validation-for="SizeMm" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foci" class="control-label"></label>
                    <input asp-for="Foci" class="form-control" />
                    <span asp-validation-for="Foci" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="C14sample2017" class="control-label"></label>
                    <input asp-for="C14sample2017" class="form-control" />
                    <span asp-validation-for="C14sample2017" class="text-danger"></span>
                </div>
            </div>
            <div class="d-flex flex-column ml-2 mr-5 my-3">
                <div class="form-group">
                    <label asp-for="LocationDescription" class="control-label"></label>
                    <input asp-for="LocationDescription" class="form-control" />
                    <span asp-validation-for="LocationDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Questions" class="control-label"></label>
                    <input asp-for="Questions" class="form-control" />
                    <span asp-validation-for="Questions" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Conventional14CageBp" class="control-label"></label>
                    <input asp-for="Conventional14CageBp" class="form-control" />
                    <span asp-validation-for="Conventional14CageBp" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="_14ccalendarDate" class="control-label"></label>
                    <input asp-for="_14ccalendarDate" class="form-control" />
                    <span asp-validation-for="_14ccalendarDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calibrated95PerCalendarDateMax" class="control-label"></label>
                    <input asp-for="Calibrated95PerCalendarDateMax" class="form-control" />
                    <span asp-validation-for="Calibrated95PerCalendarDateMax" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calibrated95PerCalendarDateMin" class="control-label"></label>
                    <input asp-for="Calibrated95PerCalendarDateMin" class="form-control" />
                    <span asp-validation-for="Calibrated95PerCalendarDateMin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calibrated95PerCalendarDateSpan" class="control-label"></label>
                    <input asp-for="Calibrated95PerCalendarDateSpan" class="form-control" />
                    <span asp-validation-for="Calibrated95PerCalendarDateSpan" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calibrated95perCalendarDateAvg" class="control-label"></label>
                    <input asp-for="Calibrated95perCalendarDateAvg" class="form-control" />
                    <span asp-validation-for="Calibrated95perCalendarDateAvg" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category" class="control-label"></label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Notes" class="control-label"></label>
                    <input asp-for="Notes" class="form-control" />
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-flex justify-content-end mr-3" style="width: 50%">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
            <div class="d-flex justify-content-start ml-3" style="width: 50%">
                <div>
                    <a class="btn btn-admin" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </form>
    

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
