
@{
    ViewData["Title"] = "Burials";
}

<!--import model-->
@model IEnumerable<Mummy>
<!--show many details for specific Burial-->
<br />
<br />
<br />
@foreach(Mummy x in Model)
{
<div class="container text-center row p-5">
    <div class="col-1 col-sm-2"></div>
    <div class=" col-10 col-sm-8 container p-5">
        <!--dynamic data-->
        <div class="row text-center">
            <div class="col-6 text-left">
                <div >
                    <h1>LOCATION</h1>
                    <h3>Date/Time</h3>
                    <h4>Age</h4>
                    <h4>Sex</h4>
                    <h4>Hair</h4>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right">
                    <div>
                        <div>Recorded By: </div>
                        <div>So and So</div>
                    </div>
                    <br />
                    <div >
                        <div>Notes: </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-3">
                <div class=" text-left">
                    <div>Measurement Title:</div>
                    <div>Measurement Title:</div>
                    <div>Measurement Title:</div>
                    <div>Measurement Title:</div>
                    <div>Measurement Title:</div>
                </div>
            </div>
            <div class="col-6 p-3">
                <div class="text-left">
                    <div>MeasurementValue</div>
                    <div>MeasurementValue</div>
                    <div>MeasurementValue</div>
                    <div>MeasurementValue</div>
                    <div>MeasurementValue</div>
                </div>
            </div>
            
            <div class="col-12 text-left p-3">
                <div class="flex-column">
                    <div>Misc Data</div>
                    <br />
                    <div>artifacts</div>
                    <br />
                    <div>coolstuff</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1 col-sm-2"></div>
    <br />
</div>
}
