@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<!-- Header -->
<header class="masthead d-flex">
    <div class="container text-center my-auto">
        <h1 class="mb-1" style="font-family: 'Spectral SC', serif; text-shadow: 2px 2px #fff;">Fag el-Gamous Cemetery</h1>
        <h3 class="mb-5" style="font-family: 'Spectral SC', serif; text-shadow: 2px 2px #fff;">
            <em>BYU Excavations Egypt</em>
        </h3>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#overview">Learn More</a>
    </div>
    <div class="overlay"></div>
</header>

<!--Stripes on the screen-->
<div class="bg-light sticker" style="position: sticky;">
    <!--I would like this to be sticky... but can't get it-->
    <div class="mb-3 mt-5 stripedLines" style="background-color:#75a8b3; height:21px; width:90%">
    </div>
    <div class="mb-3 stripedLines" style="background-color:#d67751; height:21px; width:85%">
    </div>
    <div class="stripedLines" style="background-color:#ecc38e; height:21px; width:80%; margin-bottom: 10px">
    </div>
</div>



<!-- About -->
<section class="content-section bg-light" id="overview">
    <div class="container text-center" style="margin-top: -20px">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2>The Million-Mummy Necropolis</h2>
                <p class="lead mb-5">
                    The Fag el-Gamous cemetery, or "Way of the Water Buffalo," was dicovered in 1981. It's large and dense, containing mummies dating back to the time when the Roman or Byzantine Empire ruled Egypt, from the 1st century to the 7th century A.D.
                </p>
                <a class="btn btn-secondary btn-xl js-scroll-trigger" href="#features">See For Yourself</a>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section class="content-section bg-primary text-white text-center" id="features">
    <div class="container">
        <div class="content-section-heading">
            <h3 class="text-primary mb-0">Features</h3>
            <h2 class="mb-5">Our Discoveries</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none; color: inherit">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-picture"></i>
                    </span>
                </a>
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none; color: inherit">
                    <h4>
                        <strong>Photo Gallery</strong>
                    </h4>
                    <p class="text-faded mb-0">Take a look at our discoveries</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                <a asp-controller="Home" asp-action="NavigationPage" style="text-decoration: none">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-drawer"></i>
                    </span>
                </a>
                <a asp-controller="Home" asp-action="NavigationPage" style="text-decoration: none; color: inherit">
                    <h4>
                        <strong>Data Collected</strong>
                    </h4>
                    <p class="text-faded mb-0">View the data for yourself</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-graph"></i>
                    </span>
                </a>
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none; color: inherit">
                    <h4>
                        <strong>Data Insights</strong>
                    </h4>
                    <p class="text-faded mb-0">Valuable data analysis</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-6">
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none">
                    <span class="service-icon rounded-circle mx-auto mb-3">
                        <i class="icon-book-open"></i>
                    </span>
                </a>
                <a asp-controller="Home" asp-action="DataInsights" style="text-decoration: none; color: inherit">
                    <h4>
                        <strong>Resources</strong>
                    </h4>
                    <p class="text-faded mb-0">Other project publications</p>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio -->
<section class="content-section" id="studies">
    <div class="container">
        <div class="content-section-heading text-center">
            <h3 class="text-secondary mb-0">In-Depth Look </h3>
            <h2 class="mb-5">Ongoing Studies</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!" type="button" data-toggle="modal" data-target="#modal1">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Skull Studies</div>
                            <p class="mb-0">Skulls have offered a very unique look into into the people buried here. Find out what stories these skulls are telling.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/img/skull.jpeg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!" type="button" data-toggle="modal" data-target="#modal2">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Research Team</div>
                            <p class="mb-0">Many talented, dedicated researchers have worked on this project since the outset. Learn more about those who have recorded their discoveries!</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/img/FieldBook2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!" type="button" data-toggle="modal" data-target="#modal3">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Carbon Dating</div>
                            <p class="mb-0">Learn more about the insights gained from carbon dating and how this is impacting our studies moving forward.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/img/mummy2.jpg" alt="">
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="#!" type="button" data-toggle="modal" data-target="#modal4">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Artifact Collection</div>
                            <p class="mb-0">After more than 40 years of exploration and discovery, mummies are not the only thing we have found amongst the sand.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="~/img/dice.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!--Modals-->
<!-- Modal 1-->
<div class="modal fade" id="modal1" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div>
                    <button type="button" class="close btn-primary " data-dismiss="modal" style="float: left">&times;</button>
                    <h4 class="modal-title ml-4" style="float: left">Skull Studies</h4>
                </div>
            </div>
            <div class="modal-body">

                <img class="card-img" src="~/img/SutureSkullModal.jpg" /> 
                <p>One skull we discovered had a suture line across the middle of the 
                frontal bone. This occurs in 1 to 2% of the modern population 
                and it is called metopism, or a metopic suture. We observed 
                several instances of wormian suture lines. These are highly 
                irregular and meandering sutures in the occiput region of the 
                skull. Several skulls we exhumed, showed evidence of traumatic 
                injury. One chap had three clearly delineated slices into the 
                skull which made us think he might have been struck by a sword or 
                axe. Because the edges of these lesions were still sharp, we might
                conclude that these blows, or others received elsewhere, were 
                fatal. In macabre contrast, another skull exhibited a large wound 
                that had completely healed with bone filling in the defect (above). 
                The blow was struck in the middle of the frontal bone or forehead and 
                fractured the skull for a distance of 5 to 6 centimeters, even displacing 
                the nasal bones. We can but conjecture on the life he lived or the pain he 
                endured, but we do know that he lived long enough for the bone to heal.</p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div class="modal fade" id="modal2" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div>
                    <button type="button" class="close btn-primary " data-dismiss="modal" style="float: left">&times;</button>
                    <h4 class="modal-title ml-4" style="float: left">Research Team</h4>
                </div>
            </div>
            <div class="modal-body">
                <img class="card-img" src="~/img/CWilfredGriggs.jpg" />
                <p class="card-text">C. Wilfred Griggs - The former director of Excavation at the Fag El-Gamous</p>
                <img class="card-img" src="~/img/kerrymuhlestein.jpg" />
                <p class="card-text">Kerry Muhlestein - The current director at the Fag El-Gamous site</p>
                <img class="card-img" src="~/img/ResearchTeam3.jpg" />
                <img class="card-img" src="~/img/ResearchTeam2.jpg" />
                <img class="card-img" src="~/img/ResearchTeam1.jpg" />
                <p>Some pictures of the team at Fag El-Gamous</p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3-->
<div class="modal fade" id="modal3" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div>
                    <button type="button" class="close btn-primary " data-dismiss="modal" style="float: left">&times;</button>
                    <h4 class="modal-title ml-4" style="float: left">Carbon Dating</h4>
                </div>
            </div>
            <div class="modal-body">
                <p>
                    During its life, a plant or animal is in equilibrium with its surroundings by exchanging carbon either with the atmosphere or through its diet. It will, therefore, have the same proportion of
                    C14 as the atmosphere, or in the case of marine animals or plants, with the ocean. Once it dies, it ceases to acquire
                    C14, but the
                    C14 within its biological material at that time will continue to decay, and so the ratio of 14
                    C14 to
                    C12 in its remains will gradually decrease. Because
                    C14 decays at a known rate, the proportion of radiocarbon can be used to determine how long it has been since a given sample stopped exchanging carbon – the older the sample, the less 
                    C14 will be left. At Fag El-Gamous, radiocarbon dating of the available samples have shown that the deepest and presumably oldest head-east burial dates to AD 79-230,
                    and the oldest head-west burial dates to AD 128-284.
                </p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4-->
<div class="modal fade" id="modal4" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <div>
                    <button type="button" class="close btn-primary " data-dismiss="modal" style="float: left">&times;</button>
                    <h4 class="modal-title ml-4" style="float: left">Artifact Collection</h4>
                </div>
            </div>
            <div class="modal-body">

                <img class="card-img" src="~/img/Fag-el-Gamous-infant.jpg" />
                <p>
                    One of the recent discoveries at Fag el-Gamous includes the preserved remains of an infant
                    found buried with several other mummies. The child had been wrapped in a tunic
                    and wore two bracelets on each arm (see featured image) and a necklace. Since
                    most jewelry in the necropolis has been found in female burials, the researchers
                    believe the infant is a girl. Other interesting items that have been found include
                    Christian religious artifacts like crosses, carved fish, rosettes and clay Madonna figures buried alongside the bodies.
                </p>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<section class="content-section bg-primary text-white" id="contact">
    <div class="container text-center">
        <h2 class="mb-4">Questions or comments about our work?</h2>
        <a href="mailto:Kerry_Muhlestein@byu.edu" class="btn btn-xl btn-light mr-4">Send us a message!</a>
    </div>
</section>

<!--<h2>Modal Example</h2>-->
<!-- Trigger the modal with a button -->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
<!-- Map -->
<div id="map" class="map">
    @*<iframe src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>*@
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17308.933305722883!2d31.042330493203515!3d29.39162373761283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14599b9af8225119%3A0x4c75b8113ad35d8f!2sSeila%20Pyramid!5e1!3m2!1sen!2sus!4v1617990330227!5m2!1sen!2sus"></iframe>
    <br />
    <small>
        @*<a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>*@
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17308.933305722883!2d31.042330493203515!3d29.39162373761283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14599b9af8225119%3A0x4c75b8113ad35d8f!2sSeila%20Pyramid!5e1!3m2!1sen!2sus!4v1617990330227!5m2!1sen!2sus"></a>
    </small>
    <div class="d-flex justify-content-start">
        <p class="map-caption">The Fag el-Gamous cemetery is located 1 km northwest of the Seila Pyramid.</p>
    </div>
</div>
