@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="BiologicalSamples" asp-action="Index">Biological Samples</a><br />
<a asp-controller="BioSamplesNotes" asp-action="Index">Biological Samples Notes</a><br />
<a asp-controller="CarbonDatings" asp-action="Index">Carbon Datings</a><br />
<a asp-controller="Fegbdatums" asp-action="Index">Fegbdatums</a><br />
<a asp-controller="FegbmummyStorages" asp-action="Index">FegbmummyStorages</a><br />
<a asp-controller="FegbstorageLocations" asp-action="Index">FegbstorageLocations</a><br />
<a asp-controller="Gisdatums" asp-action="Index">Gisdatums</a><br />
<a asp-controller="Mummies" asp-action="Index">Mummies</a><br />
<a asp-controller="MummyNotes" asp-action="Index">MummyNotes</a><br />
<a asp-controller="OsteologicalMummyDatums" asp-action="Index">OsteologicalMummyDatums</a><br />
<a asp-controller="PostExhumationDatums" asp-action="Index">PostExhumationDatums</a><br />
<a asp-controller="ShaftLocations" asp-action="Index">ShaftLocations</a><br />
<a asp-controller="TombLocations" asp-action="Index">TombLocations</a>