@model List<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-center mb-5">
    <div class="card cardLogin rounded-3" style="width: 1100px; min-height: 500px; margin-top: 85px; box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="card-header d-flex justify-content-center px-2 py-2" style="background-color: #d67751; color: #fff">
            <h1>Role Manager</h1>
        </div>
        <div class="py-3 px-3">
            <form method="post" asp-action="AddRole" asp-controller="RoleManager">
                <div class="input-group">
                    <input name="roleName" class="form-control w-25">
                    <span class="input-group-btn">
                        <button class="btn btn-admin">Add New Role</button>
                    </span>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                            @if (role.Name != "Admin" && role.Name != "Researcher")
                            {

                                <form method="post" asp-action="DeleteRole" asp-controller="RoleManager">
                                    <input  type="hidden" name="Name" value="@role.Name" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-admin">Delete</button>
                                    </span>

                                </form>



                            }
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>